{% extends 'orders/base.html' %}
{% load static %}

{% block content %}
<h1>Hello admin, {{ user.first_name }} here are your orders:</h1>
<ul>
    <li>Currently logged in as: {{ user.username }}</li>
    <li><a href="{% url 'logout' %}">Logout</a></li>

</ul>
<br>



<h1>Orders:</h1>

            <ul class="list-group">
                <li class="list-group-item active">Items:</li>
                {% for key, items in checkout.items  %}
                    {% for item in items %}
                    <form method="post" action="">
                    <li class="list-group-item">{{key}}: {{item}}
                        <button type="submit" class="btn btn-primary">Mark complete</button>
                        </li>
                    </form>
                  {% endfor %}
                {% endfor %}
              </ul>


{% endblock %}