{% extends 'orders/base.html' %} {% block content %}
{% load static %}

{% comment %} TODO: clean all this up {% endcomment %}
<div class="container header">
  <br>
  <h1>Hello, {{ user.first_name }}</h1>
  <ul>
    <li>Currently logged in as: {{ user.username }}</li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
  </ul>
  <h1>On todays menu...</h1>
</div>
{% for food_type, items in menu.items %}

<div class="container-flex">
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-4">
  <h1>{{ food_type }}</h1>
      <div id="accordion">
        {% for item in items %}
        <div class="card">
          <div class="card-header" id="{{ food_type }}{{ item }}">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ food_type }}{{ item }}" aria-expanded="false" aria-controls="collapse{{ food_type }}{{ item }}">
                {{ item }}
              </button>
            </h5>
          </div>

          <div id="collapse{{ food_type }}{{ item }}" class="collapse" aria-labelledby="{{ item }}" data-parent="#accordion">
            <div class="card-body">
              <form method="post">
              {% csrf_token %}
              <input type="hidden" name="food_type" value="{{ food_type }}">
              <input type="hidden" name="food_item" value="{{ item }}">
                <div class="form-row align-items-center">
                  <div class="col-auto my-1">
                    {% if '1 Topping' in item %}
                    <select class="mr-sm-2" id="inlineFormCustomSelect" name="size">
                    {% comment %} TODO: make size parameter consistent {% endcomment %}
                      <option disabled selected value>Size...</option>
                      <option value="Small">Small</option>
                      <option value="Large">Large</option>
                    </select>
                    <select class="mr-sm-2" id="inlineFormCustomSelect" name="topping">
                      {% comment %}  <option disabled selected value> -- select a topping -- </option>{% endcomment %}
                      <option disabled selected value> -- select a topping -- </option>
                      {% for topping in pizza_toppings %}
                        <option value="{{ topping }}">{{ topping }}</option>
                      {% endfor %}
                    </select>
                    {% elif '2 Topping' in item %}
                    <select class="mr-sm-2" id="inlineFormCustomSelect" name="size">
                      <option selected>Size...</option>
                      <option value="Small">Small</option>
                      <option value="Large">Large</option>
                    </select>
                    <select class="mr-sm-2" id="inlineFormCustomSelect" name="topping">
                      <option disabled selected value> -- select a topping -- </option>
                      {% for topping in pizza_toppings %}
                        <option value="{{ topping }}">{{ topping }}</option>
                      {% endfor %}
                    </select>
                    <select class="mr-sm-2" id="inlineFormCustomSelect" name="topping">
                      <option disabled selected value> -- select a topping -- </option>
                      {% for topping in pizza_toppings %}
                        <option value="{{ topping }}">{{ topping }}</option>
                      {% endfor %}
                    </select>
                    {% elif '3 Topping' in item %}
                    <select class="mr-sm-2" id="inlineFormCustomSelect" name="size">
                      <option selected>Size...</option>
                      <option value="Small">Small</option>
                      <option value="Large">Large</option>
                    </select>
                    <select class="mr-sm-2" id="inlineFormCustomSelect" name="topping">
                      <option disabled selected value> -- select a topping -- </option>
                      {% for topping in pizza_toppings %}
                        <option value="{{ topping }}">{{ topping }}</option>
                      {% endfor %}
                    </select>
                    <select class="mr-sm-2" id="inlineFormCustomSelect" name="topping">
                      <option disabled selected value> -- select a topping -- </option>
                      {% for topping in pizza_toppings %}
                        <option value="{{ topping }}">{{ topping }}</option>
                      {% endfor %}
                    </select>
                    <select class="mr-sm-2" id="inlineFormCustomSelect" name="topping">
                      <option disabled selected value> -- select a topping -- </option>
                      {% for topping in pizza_toppings %}
                        <option value="{{ topping }}">{{ topping }}</option>
                      {% endfor %}
                    </select>
                    {% elif 'Subs' in food_type %}
                    <select class="mr-sm-2" id="inlineFormCustomSelect" name="size">
                      <option selected>Size...</option>
                      <option value="Small">Small</option>
                      <option value="Large">Large</option>
                    </select>
                    <select class="mr-sm-2" id="inlineFormCustomSelect" name="topping">
                      <option disabled selected value> -- select a topping -- </option>
                      {% for topping in sub_toppings %}
                        <option value="{{ topping }}">{{ topping }}</option>
                      {% endfor %}
                    </select>
                    {% else %}
                    <select class="mr-sm-2" id="inlineFormCustomSelect" name="size">
                      <option selected>Size...</option>
                      <option value="Small">Small</option>
                      <option value="Large">Large</option>
                    </select>
                    {% endif %}
                  </div>
                  <div class="col-auto my-1">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-1">
    </div>
    <div class="col-5">
    {% if forloop.first %}
      <div class="card mb-3" style="max-width: 540px;">
        <h5 class="card-header">{{ user.first_name }}'s Basket:</h5>
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{% static "orders/basket.jpeg" %}" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text">
              <ul class="list-group">
                <li class="list-group-item active">Items:</li>
                {% for key, items in basket.items  %}
                    {% for id, item in items %}
                    <li class="list-group-item">{{key}}: {{item}}</li>
                  {% endfor %}
                {% endfor %}
              </ul>
              </p>
              <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Checkout
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Submit order...</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to checkout items with a total value of: £{{basket_total}}?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <form method="post" action="{% url 'order_status' %}">
                        {% csrf_token %}
                        <button type="submit" name="user_form" class="btn btn-primary">Submit order</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>

    {% endif %}
    </div>
  </div>
</div>
<br><br>
{% endfor %}
{% endblock %}
