{% extends 'orders/base.html' %} {% block content %}
<h1>Hello, {{ user.first_name }}</h1>
<ul>
  <li>Currently logged in as: {{ user.username }}</li>
  <li><a href="{% url 'logout' %}">Logout</a></li>
</ul>

<h1>On todays menu...</h1>

{% for food_type, items in menu.items %}

<div class="container-flex">
  <h1>{{ food_type }}</h1>
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-4">
      <div id="accordion">
        {% for item in items %}
        <div class="card">
          <div class="card-header" id="{{ food_type }}{{ item }}">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ food_type }}{{ item }}" aria-expanded="false" aria-controls="collapse{{ food_type }}{{ item }}">
                {{ item }}
              </button>
            </h5>
          </div>

          <div id="collapse{{ food_type }}{{ item }}" class="collapse" aria-labelledby="{{ item }}" data-parent="#accordion">
            <div class="card-body">
              <form>
                <div class="form-row align-items-center">
                  <div class="col-auto my-1">
                    {% if '1 Topping' in item %}
                    <select class="mr-sm-2" id="inlineFormCustomSelect">
                      <option selected>Size...</option>
                      <option value="1">Small</option>
                      <option value="2">Large</option>
                    </select>
                    <select class="mr-sm-2" id="inlineFormCustomSelect">
                      <option selected>Topping...</option>
                      {% for topping in pizza_toppings %}
                        <option value="{{ topping }}">{{ topping }}</option>
                      {% endfor %}
                    </select>
                    {% elif '2 Topping' in item %}
                    <select class="mr-sm-2" id="inlineFormCustomSelect">
                      <option selected>Size...</option>
                      <option value="1">Small</option>
                      <option value="2">Large</option>
                    </select>
                    <select class="mr-sm-2" id="inlineFormCustomSelect">
                      <option selected>Topping...</option>
                      {% for topping in pizza_toppings %}
                        <option value="{{ topping }}">{{ topping }}</option>
                      {% endfor %}
                    </select>
                    <select class="mr-sm-2" id="inlineFormCustomSelect">
                      <option selected>Topping...</option>
                      {% for topping in pizza_toppings %}
                        <option value="{{ topping }}">{{ topping }}</option>
                      {% endfor %}
                    </select>
                    {% elif '3 Topping' in item %}
                    <select class="mr-sm-2" id="inlineFormCustomSelect">
                      <option selected>Size...</option>
                      <option value="1">Small</option>
                      <option value="2">Large</option>
                    </select>
                    <select class="mr-sm-2" id="inlineFormCustomSelect">
                      <option selected>Topping...</option>
                      {% for topping in pizza_toppings %}
                        <option value="{{ topping }}">{{ topping }}</option>
                      {% endfor %}
                    </select>
                    <select class="mr-sm-2" id="inlineFormCustomSelect">
                      <option selected>Topping...</option>
                      {% for topping in pizza_toppings %}
                        <option value="{{ topping }}">{{ topping }}</option>
                      {% endfor %}
                    </select>
                    <select class="mr-sm-2" id="inlineFormCustomSelect">
                      <option selected>Topping...</option>
                      {% for topping in pizza_toppings %}
                        <option value="{{ topping }}">{{ topping }}</option>
                      {% endfor %}
                    </select>
                    {% elif 'subs' in food_type %}
                    <select class="mr-sm-2" id="inlineFormCustomSelect">
                      <option selected>Size...</option>
                      <option value="1">Small</option>
                      <option value="2">Large</option>
                    </select>
                    <select class="mr-sm-2" id="inlineFormCustomSelect">
                      <option selected>Topping...</option>
                      {% for topping in sub_toppings %}
                        <option value="{{ topping }}">{{ topping }}</option>
                      {% endfor %}
                    </select>
                    {% else %}
                    <select class="mr-sm-2" id="inlineFormCustomSelect">
                      <option selected>Size...</option>
                      <option value="1">Small</option>
                      <option value="2">Large</option>
                    </select>
                    {% endif %}
                  </div>
                  <div class="col-auto my-1">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-2">
    </div>
    <div class="col-5">
    <h1>This is where the basket will go</h1>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
